In [2]:
import random

yy = "ΒΓΔΖΗΘΚΛΜΝΞΠΡΣΤΥΦΧΨΩ"
a = random.randint(1, 20)
b = random.randint(1, 20)
c = random.randint(1, 20)

ret = yy[a-1]+yy[b-1]+yy[c-1]
ret

'ΥΡΔ'

In [6]:
import numpy as np 

aa = np.arange(10)
aa = np.power(2,(aa - 10)/2)
aa = aa/ np.sum(aa)
aa

array([0.01336173, 0.01889634, 0.02672346, 0.03779267, 0.05344691,
       0.07558535, 0.10689382, 0.15117069, 0.21378765, 0.30234139])

In [4]:
import numpy as np
import pandas as pd

factor_name = ['aa', 'bb', 'cc', 'dd', 'ee']

aa = np.array([[1.,         0.64711706, 0.44115675, 0.44574935, 0.43266016],
 [0.64711706, 1.,         0.60338187, 0.6127979,  0.42765676],
 [0.44115675, 0.60338187, 1.,         0.84263969, 0.4888599 ],
 [0.44574935, 0.6127979 , 0.84263969, 1.,         0.50845375],
 [0.43266016, 0.42765676, 0.4888599,  0.50845375, 1.        ]])

ret = pd.DataFrame(aa, index=factor_name, columns = factor_name)
ret

          aa        bb        cc        dd        ee
aa  1.000000  0.647117  0.441157  0.445749  0.432660
bb  0.647117  1.000000  0.603382  0.612798  0.427657
cc  0.441157  0.603382  1.000000  0.842640  0.488860
dd  0.445749  0.612798  0.842640  1.000000  0.508454
ee  0.432660  0.427657  0.488860  0.508454  1.000000